.ListingCard {
  max-height: 260px;
  margin-bottom: 1rem;
  color: inherit;
  text-decoration: none;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ListingCard img {
  width: 120px;
}

.ListingCard:hover {
  /* <Card /> that is also <Link /> */
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ListingCard-image-container {
  display: flex;
  justify-content: center;
  margin-right: 44px;
}

.ListingCard-btn-container {
  position: relative;
}

.ListingCard-btn {
  width: 12%;
  position: absolute;
  right: 20px;
  bottom: 5px;
}
