.SearchForm {
  margin-top: 13px;
  margin-left: 22rem;
}

.SearchForm input:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.SearchForm-btn {
  background-color: #39b2e9;
  border-color: #39b2e9;
}
